<!-- <home></home>> -->
<div class="app-header">


    <nav>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><img class="img-icon"
                src="./assets/imgs/home.png"></a>
        <a routerLink="/contact" routerLinkActive="active"><img class="img-icon" src="./assets/imgs/users.png"></a>
        <a routerLink="/stats" routerLinkActive="active"><img class="img-icon" src="./assets/imgs/increase.png"></a>
    </nav>
</div>

<router-outlet></router-outlet>