.simple-button {
  background: transparent;
  color: black;
  font-size: inherit;
  font-family: inherit;
  border: 0;
  opacity: 0.6;
  transition: 0.3s all;
  padding: 0;
  cursor: pointer;

  &:disabled {
    cursor: initial;
    opacity: 0.2;
  }

  i {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  &:hover:not(:disabled) {
    opacity: 1;
  }
}

.simple-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 15px auto;

  & > *:not(:last-child) {
    margin-bottom: 10px;
  }

  input:not([type="checkbox"]),
  button {
    padding: 5px 8px;
    width: 100%;
  }

  .form-errors {
    text-align: center;
    margin-top: 24px;
    color: red;
    font-size: 15px;
  }
}

.details-action {
  display: flex;
  justify-content: space-between;

  .details-icon {
    width: 30px;
  }
}
